@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: linear-gradient(245.59deg, #e74d74 0%, #b83891 20.53%, #470938 75.52%);
    
}


::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background-color: #ff46ac;
}

::-webkit-scrollbar-thumb {
    background-color: #ff8bb1;
    border-radius: 6px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100vw;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 9%;
    background: transparent;
    scroll-behavior: smooth;
    transition: top 1.5s;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    gap: 2em;


}

.nav ul a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/*Sección inicio*/
.logo img {
    width: 3.8em;
}

.navlist {
    display: flex;
}

#menu-icon {
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
}

.hero {
    width: 100vw;
    height: 100vh;
    margin-top: -1em;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.hero-img img {
    max-width: 30vw;
    max-height: 100%;
}

aside {
    padding: 0 19%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px ;
}

.hero-text {
    max-height: 60vh;
}

.hero-text h5 {
    margin-bottom: .2em;
    font-size: 3em;
    line-height: 1;
    color: white;

}

.hero-text h1 {
    color: white;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 1em;
}

.hero-text p {
    color: white;
    font-size: .9em;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-text a {
    display: inline-block;
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 1em;
    margin: .5em;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover {
    background: #e74d74;

    border: 1px solid white;
    transform: translate(8px);
}

.icons {
    z-index: 1000;
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 1em 0;
    font-size: 2em;
    color: white;
    transition: all .50s ease;
}

.icons i:hover {
    color: #b43857;
    transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #eb6d8c;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

/* Sección de tecnologías*/

#tecnos {
    display: grid;
    place-items: center;
    /* Esto centrará el contenido horizontal y verticalmente */
    width: 100vw;
    height: 100vh;

}

.img-tecnos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Cuatro columnas, una para cada imagen y texto */
    gap: 6em;
    /* Espacio entre elementos */
    text-align: center;
    /* Centrar el texto horizontalmente */

}

.img-tecnos img:hover {
    transform: translateY(-30px);
    scale: 1.1;
}

.img-container {
    width: auto;

}

.img-container img {

    max-width: 10vw;
    margin: 0 auto;
    transition: all .55s ease;

}

.img-tecnos h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    color: #be8eb2;
}


.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -30vh;
}

.barra {
    width: 350px;
    height: 20px;
    background: rgba(225, 225, 225, 0.5);
    border-radius: 10px;
    box-shadow: 20px 25px 45px rgba(0, 0, 0, 0.4);
}

.habilidades h2 {
    font-size: 15px;
    color: rgba(225, 225, 225, 0.5);
}

.progreso {

    width: var(--w);
    height: 20px;
    background: rgba(225, 225, 225, 0.5);
    border-radius: 10px;
    animation: Aumentar 10s ease;
}

@keyframes Aumentar {
    0% {
        width: 0%;
    }

    100% {
        width: var(--w);
    }
}


/* Sección de proyectos*/

.proyectos {
    display: flex;
    height: 100vh;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, transparent, #470938 40.52%, #000000);
    flex-wrap: wrap;
    place-content: center;

}

.card {
    display: flex;
    margin: 0 auto;
    font-size: 2vh;
    position: relative;
    width: 45vh;
    height: 50vh;

}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .8s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
}

.card .front img {
    margin: 0 auto;
    display: flex;
    width: 70%;
    height: 60%;
    object-fit: center;
}

.card .front h3 {
    font-family: 'Julius Sans One', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(180deg, transparent, #470938 40.52%, #000000);
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
}

.card .back h2 {
    position: relative;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 300%;
    padding-bottom: 10%;
    margin-top: 10%;

}

.card .back a {
    color: #470938;
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
    scale: 110%;
}

/* Parte del form de contacto*/
/*estilos del formulario con flex*/

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000000;

}

.flex-container {
    position: absolute;
    height: 70%;
    width: 70%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4.5%;
    margin: 0 auto;
}

.flex-container h3 {

    font-size: 7em;
    color: #b43857;
    text-align: center;
    font-family: 'Bahiana', cursive;

}

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 1em;
    margin-top: 8%;
    order: 5;

}

.form__input {
    color: #eb6d8c;
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border: 1px solid rgb(231, 111, 151);
    background-color: transparent;
}

.form__input:focus {
    background-color: rgba(221, 138, 138, 0.322);
    outline: none;
}

.form textarea {
    min-height: 140px;
    resize: none;
}

.form input[type="submit"] {
    background-color: #b43857;
    color: white;
    border: none;
}

.form input[type="submit"]:hover {
    background-color: rgb(197, 107, 107);
    color: white;
    border: none;
}

::placeholder {
    color: rgb(214, 127, 127);
}

#error {
    color: #e60000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    place-content: center;
}

/*fin de estilos del formulario con flex*/

.footer {
    display: flex;
    width: 100vw;
    height: 3vh;
    background-color: #b43857;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    font-family: 'Poppins', sans-serif;
}

@media  (max-width: 768px) {
    

    body{
        background-size: cover;
    }
.hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 27% 5% 5% 5%;
}

.icons{
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    left: -4%;
}
.logo img{
    position: relative;
    margin: 0 auto;
}
 header{
    position: none;
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: center;
 }

 

    
}

